.btn-download{
    width: 150px;
}
.header-title{
    font-weight: 300;
    font-size: 5rem;
}
.img-phone{
    width: 17rem;
}
header{
padding: 9.5rem 0 5rem 0;
}

.img-brand{
    width: 7rem;
}

.padding-sec{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.main-icon{
    font-size: 4rem;
}